In [1]:
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
import pandas as pd
import sqlite3
import csv

In [2]:
Base = declarative_base()

In [3]:
class Measurement(Base):
    __tablename__ = 'measurement'
    index = Column(Integer, primary_key = True, default = 0)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Float)

In [4]:
class Station(Base):
    __tablename__ = 'station'
    index = Column(Integer, primary_key = True, default = 0)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [5]:
dialect = 'sqlite'
user = 'root'
password = 'Q1w2e3r4t5!'
host = 'localhost'
port = 3306
database = 'hawaii.sqlite'

In [6]:
engine = create_engine(f'{dialect}:///{database}')

In [7]:
Base.metadata.create_all(engine)

In [8]:
measurement_df = pd.read_csv('clean_hawaii_measurements.csv')
measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [9]:
station_df = pd.read_csv('hawaii_stations.csv')
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [10]:
session = Session(bind=engine)
conn = sqlite3.connect('hawaii.sqlite')
cur = conn.cursor()

In [ ]:
with open('clean_hawaii_measurements.csv') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        cur.execute('INSERT INTO Measurement VALUES (NULL,?,?,?,?);', row)

In [ ]:
#iterating through length of station dataframe to add data into sqlite table
for i in range(len(station_df)):
   session.add(Station(index = station_df.index[i], station = station_df.iloc[i][0], name = station_df.iloc[i][1], latitude = station_df.iloc[i][2], longitude = station_df.iloc[i][3], elevation = station_df.iloc[i][4]))

In [ ]:
#same for measurement data
for i in range(len(measurement_df)):
   session.add(Measurement(index = measurement_df.index[i], station = measurement_df.iloc[i][0], date = measurement_df.iloc[i][1],
                           prcp = measurement_df.iloc[i][2], tobs = int(measurement_df.iloc[i][3])))

In [ ]:
query1 = session.query(Station)
for row in query1:
    print(row.station)

In [ ]:
session.rollback()

In [14]:
session.commit()

In [11]:
measurement_df.to_sql('measurement',con=engine,index=False, if_exists='append')

In [12]:
station_df.to_sql('station', con=engine, index=False, if_exists='append')

In [13]:
pd.read_sql('measurement', con=engine)

       index      station        date  prcp  tobs
0          1  USC00519397  2010-01-01  0.08  65.0
1          2  USC00519397  2010-01-02  0.00  63.0
2          3  USC00519397  2010-01-03  0.00  74.0
3          4  USC00519397  2010-01-04  0.00  76.0
4          5  USC00519397  2010-01-06  0.00  73.0
5          6  USC00519397  2010-01-07  0.06  70.0
6          7  USC00519397  2010-01-08  0.00  64.0
7          8  USC00519397  2010-01-09  0.00  68.0
8          9  USC00519397  2010-01-10  0.00  73.0
9         10  USC00519397  2010-01-11  0.01  64.0
10        11  USC00519397  2010-01-12  0.00  61.0
11        12  USC00519397  2010-01-14  0.00  66.0
12        13  USC00519397  2010-01-15  0.00  65.0
13        14  USC00519397  2010-01-16  0.00  68.0
14        15  USC00519397  2010-01-17  0.00  64.0
15        16  USC00519397  2010-01-18  0.00  72.0
16        17  USC00519397  2010-01-19  0.00  66.0
17        18  USC00519397  2010-01-20  0.00  66.0
18        19  USC00519397  2010-01-21  0.00  69.0
19        20  USC00519397  2010-01-22  0.00  67.0
20        21  USC00519397  2010-01-23  0.00  67.0
21        22  USC00519397  2010-01-24  0.01  71.0
22        23  USC00519397  2010-01-25  0.00  67.0
23        24  USC00519397  2010-01-26  0.04  76.0
24        25  USC00519397  2010-01-27  0.12  68.0
25        26  USC00519397  2010-01-28  0.00  72.0
26        27  USC00519397  2010-01-30  0.00  70.0
27        28  USC00519397  2010-01-31  0.03  67.0
28        29  USC00519397  2010-02-01  0.01  66.0
29        30  USC00519397  2010-02-03  0.00  67.0
...      ...          ...         ...   ...   ...
19520  19521  USC00516128  2017-07-24  0.84  77.0
19521  19522  USC00516128  2017-07-25  0.30  79.0
19522  19523  USC00516128  2017-07-26  0.30  73.0
19523  19524  USC00516128  2017-07-27  0.00  75.0
19524  19525  USC00516128  2017-07-28  0.40  73.0
19525  19526  USC00516128  2017-07-29  0.30  77.0
19526  19527  USC00516128  2017-07-30  0.30  79.0
19527  19528  USC00516128  2017-07-31  0.00  74.0
19528  19529  USC00516128  2017-08-01  0.00  72.0
19529  19530  USC00516128  2017-08-02  0.25  80.0
19530  19531  USC00516128  2017-08-03  0.06  76.0
19531  19532  USC00516128  2017-08-05  0.00  77.0
19532  19533  USC00516128  2017-08-06  0.00  79.0
19533  19534  USC00516128  2017-08-07  0.05  78.0
19534  19535  USC00516128  2017-08-08  0.34  74.0
19535  19536  USC00516128  2017-08-09  0.15  71.0
19536  19537  USC00516128  2017-08-10  0.07  75.0
19537  19538  USC00516128  2017-08-11  0.00  72.0
19538  19539  USC00516128  2017-08-12  0.14  74.0
19539  19540  USC00516128  2017-08-13  0.00  80.0
19540  19541  USC00516128  2017-08-14  0.22  79.0
19541  19542  USC00516128  2017-08-15  0.42  70.0
19542  19543  USC00516128  2017-08-16  0.42  71.0
19543  19544  USC00516128  2017-08-17  0.13  72.0
19544  19545  USC00516128  2017-08-18  0.00  76.0
19545  19546  USC00516128  2017-08-19  0.09  71.0
19546  19547  USC00516128  2017-08-20  0.00  78.0
19547  19548  USC00516128  2017-08-21  0.56  76.0
19548  19549  USC00516128  2017-08-22  0.50  76.0
19549  19550  USC00516128  2017-08-23  0.45  76.0

[19550 rows x 5 columns]